* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fonts-inter- {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* This is a CSS file for styling the header and navigation bar of a webpage. */
header {
    width: 100%;
    max-width: 1600px;
    height: 80px;
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 100px;
    align-items: center;
}

nav .menu li {
    list-style: none;
}

nav .menu li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

nav .logo img {
    padding-left: 65px;
    padding-top: 15px;
}

nav .btn {
    margin-right: 110px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #469165;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

nav .btn:hover {
    background-color: #367b50
}

/* this is banner section */

#banner {
    width: 100%;
    max-width: 1600px;
    height: 670px;
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
    padding: 70px 120px 135px 120px;
}


h1 span {
    display: block;
}

#banner .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

#banner .banner-container .early-access {
    padding: 4px 12px;
    background-color: #FFFFFF;
    color: #30B868;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;

}

#banner .banner-container h1 {
    color: #FFFFFF;
    font-size: 80px;
    padding-top: 16px;
}

#banner .banner-container h1 span {
    color: #30B868;
}

#banner .banner-container .banner-info {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

#banner .banner-container .btn {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#banner .banner-container .btn {
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;

}

#banner .banner-container .btn .primary-btn {
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
}

#banner .banner-container .btn .secondary-btn {
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

/* This is note-section */

.note-sec .note-container {
    width: 1360;
    height: 450px;
    background-color: #FFFFFF;
    padding: 0 120px;
}

.note-sec .note-container .section-headings {
    text-align: center;
    padding-top: 60px;
}

.note-sec .note-container .section-headings h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;

}

.note-sec .note-container .section-headings p {
    font-size: 16px;
    padding-top: 16px;
}

.note-sec .note-container .cards {
    display: flex;
    gap: 24px;
}

.note-sec .note-container .card1,
.card2,
.card3,
.card4 {
    width: 300px;
    height: 300px;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px;
    gap: 24px;

}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 28px;
    height: 28px;
}

.note-sec .note-container .cards .card-headings {
    font-size: 20px;
    font-weight: 600;
    color: #001931;
    text-align: center;
}

.note-sec .note-container .cards .card-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
}


/* This is solution section */


.section-container {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px 120px;
    max-width: 1360px;
}

.solution-image {
    flex: 1;
}

.solution-text {
    flex: 1;
    padding: 102px 0 120px 60px;
}
.section-container .solution-text h5{
    font-size: 16px;
    font-weight: medium;
    padding-bottom: 16px;
    color: #30B868;
}

.section-container .solution-text h2{
    font-size: 38px;
    font-weight: bold;
    color: #001931;
}
.section-container .solution-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #627382;
    padding: 24px 0 32px 0;
}

.section-container .solution-text ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.section-container .solution-text ul li{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #001931;
}

/* this is early access section */
.early-access-con {
    width: 1360px;
    height: 360px;
    background-color: #f7f6f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 120px 120px 120px;
    margin: 0 auto;
}
.early-access-con h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;

}

.early-access-con .btn-secondary {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #469165;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.early-access-con .btn-secondary:hover {
    background-color: #367b50;
}

.early-access-con .btn-secondary {
    margin-top: 55px;
}

.early-access-con p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
    text-align: center;
}